@import "../variables.scss";

.main {
	flex-basis: 26 * $atom;
	margin-left: 10 * $atom;
	color: $darkgrey;
	@media ($medium) {
		flex-basis: auto;
		margin-left: $atom;
		padding-left: 40px;
	}
}

.container {
	padding: $atom;
	padding-bottom: 0;
	box-sizing: border-box;
	@media ($medium) {
		padding-left: 0;
	}
}
